@font-face {
font-family: 'Alegreya', serif;
font-style: normal;
font-weight: normal;
src:url("Alegreya.ttf");
}

@font-face {
font-family: 'Alegreya', serif;
font-style: italic;
font-weight: normal;
src:url("AlegreyaItalic.ttf");
}

@font-face {
font-family: 'Alegreya Sans SC', sans-serif;
font-style: normal;
font-weight: normal;
src:url("AlegreyaSans.ttf");
}

/* body { font-family: "Alegreya Sans SC", sans-serif; } */
body {
  font-family: "Alegreya", serif;
  margin: 0;
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
  text-align: justify;
  text-indent: 1em;
}

/* Pali verse */
em {
  font-style: italic;
  text-indent: 30px;
  font-size: 1.2em;
}

strong {
  font-style: italic;
  font-weight: normal;
}

blockquote {
  font-size: 100%;
  font-style: italic;
  text-align: center;
}

h1 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
